.col-md-3.col-xs-3
  %h2 New Account

  = form_for user do |f|
    .form-group
      =f.label :email
      =f.text_field :email, class: 'form-control'
    .form-group
      =f.label :password
      =f.password_field :password, class: 'form-control'
    .form-group
      =f.label :password_confirmation
      =f.password_field :password_confirmation, class: 'form-control'
    =f.submit "Sign Up", class: 'btn btn-default'
