.col-md-3.col-xs-3
  %h2 Log A New Run

  -if !run.errors.nil?
    %ul
    -run.errors.full_messages.each do |error|
      %li= error

  = form_for run do |f|
    .form-group
      =f.label :ran_on
      %br
      =f.date_select :ran_on, class: 'form-control'
    .form-group
      =f.label :distance
      =f.number_field :distance, class: 'form-control'

    =f.submit "Log It", class: 'btn btn-default'
