<!DOCTYPE html>
%html
  %head
    %title Runstreak
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .containter-fluid
      .row
        .col-md-3.col-xs-3
        = yield
